.destinacije {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 20px;
    padding-top: 20px;
    padding-left:20px; /* Odvojite komponente od gornje ivice */
  }
  
  .komponenta {
    border: 1px solid #ccc;
    padding: 20px; /* Povećajte prostor oko komponente */
    border-radius: 10px; /* Dodajte blagi zaobljeni rub */
    text-align: center; /* Centrirajte tekst unutar komponente */
  }
  
  .komponenta h2 {
    margin-top: 0;
  }
  
  .komponenta img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Dodajte blagi zaobljeni rub slici */
  }
  
  .komponenta button {
    margin-top: 20px; /* Povećajte razmak između buttona i ostalih elemenata */
    padding: 10px 20px; /* Povećajte veličinu buttona */
    border-radius: 5px; /* Dodajte blagi zaobljeni rub buttonu */
    background-color: #007bff; /* Promijenite boju pozadine buttona */
    color: white; /* Promijenite boju teksta buttona */
    border: none; /* Uklonite rub buttona */
    cursor: pointer; /* Promijenite kursor prilikom hovera */
    transition: background-color 0.3s; /* Dodajte efekat pri promjeni boje pozadine */
  }
  
  .komponenta button:hover {
    background-color: #0056b3; /* Promijenite boju pozadine prilikom hovera */
  }
  