.unosForma {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.reservationDetails {
  text-align: center; 
  font-style: italic; 
  margin-top: -10px;
}

.unosForma input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #009688;
  border-radius: 4px;
  display: block;
}

.unosForma input[type="text"]:focus {
  outline: none;
  border-color: #4db6ac;
}

.unosForma button {
  width: 100%;
  padding: 12px 20px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.unosForma button:hover {
  background-color: #00796b;
}